<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/_bootstrap') %>
    <title>Category</title>
  </head>
  <body>
    <%- include('./partials/_navbar') %>
    <div class="container-fluid text-center p-6">
    <br>
      <h1>The choice is yours</h1>
      <br><br>
      <% data.forEach(el => { %> 
      <a class="btn btn-primary me-2" href="./course" role="button"><%= el.name %></a>
      <% }) %>
    </div>
  </body>
</html>
