<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belajar Kreatif</title>
    <%- include('./partials/_bootstrap') %>
  </head>
  <body>
    <%- include('./partials/_navbar') %>
    <br />
    <div class="container-fluid" style="padding: 50px; text-align: center">
      <div>
        <h1>“If someone is going down the wrong road, he doesn't need motivation to speed him up. What he needs is education to turn him around.”</h1>
        <p>"Jika seseorang berada di jalan yang salah, ia tak butuh motivasi untuk mempercepatnya. Yang ia butuhkan adalah Pendidikan untuk membuatnya kembali."" <br>- Jim Rohn</p>
      </div>
      <br>
      <a class="btn btn-primary" href="./course" role="button">Get started</a>
    </div>
  </body>
</html>
